@import "tailwindcss";

@layer utilities {
  *::-webkit-scrollbar {
    width: 10px;
    height: 6px;
  }

  *::-webkit-scrollbar-track {
    border-radius: 6px;
    background: #74a2e7;
  }

  *::-webkit-scrollbar-thumb {
    background: #2563c1;
    border-radius: 6px;
    border: 1px solid #7bb2e0;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: #20328e;
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.15;
  font-weight: 400;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100dvh;
  max-height: 100dvh;
  overflow: hidden;
}
